* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    color: #383232;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
    letter-spacing: 10px;
    font-size: 500%;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.content {
    padding-top: 5%;
    max-width: 600px;
    margin: auto;
}

#start-page {
    text-align: center;
    margin: auto;
}

#game-page {
    text-align: center;
    margin: auto;
    display: none;
}

#result-page {
    text-align: center;
    margin: auto;
    display: none;
}

#result-button {
    display: none;
}