@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Leckerli+One&family=Nunito+Sans:wght@300&family=Patrick+Hand&family=Playfair+Display+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    color: #383232;
    font-family: 'Playfair Display SC', serif;
    background-color: #4169e1;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
    letter-spacing: 10px;
    font-size: 500%;
    color: #FFD700;
}

h2 {
    text-align: center;
    color: #FFD700;
}

p {
    text-align: justify;
    color: #FFD700;
}

.content {
    padding-top: 5%;
    max-width: 600px;
    margin: auto;
}

#start-page {
    text-align: center;
    margin: auto;
}

#game-page {
    text-align: center;
    margin: auto;
    display: none;
}

#result-page {
    text-align: center;
    margin: auto;
    display: none;
}

#result-button {
    display: none;
}

#start-page {
    font-family: 'Playfair Display SC', serif;
}